body, html{
	height: 100%;
}
body {  
    background-image: url("../images/Soccer-Field.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
	font-family: 'Roboto Slab', serif;
}
.container {
	margin: 50px auto;
	background-color: #355CBB;
	border: solid 5px white;
	border-radius: 25px;
}
button{
	width: 100px;
    height: 50px;
	margin: 10px;
	border-radius: 15px;
	background-color: silver;
	color: #355CBB;
	font-weight: bold;
    font-size: 20px;
}
button:hover{
	background-color: #355CBB;
	color: white;
}
.game-title, .start-button, .results, .questionsArea, .doneButton, .restartButton {
	text-align: center;
}
#countdown{
	text-align: center;
}